*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.navbar-nav .nav-link {
    font-size: 18px;
    /*font-weight: 600;*/
}
/* Stylish Dropdown Item Hover Effect */
.custom-dropdown-item {
    transition: all 0.3s ease;
    font-weight: 500;
}

.object-fit-cover {
    object-fit: cover;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.4); /* adjust alpha (0.4 = 40% dark) */
    z-index: 1;
}

.carousel-caption {
    z-index: 2;
}

#booking{
    object-fit: cover;
    overflow-y: hidden;
    height: 100vh;
}


.custom-dropdown-item:hover {
    background-color: #ffedd5;
    color: #d35400;
    font-weight: 600;
    padding-left: 18px;
    border-left: 3px solid #d35400;
}


.navbar-nav .nav-link:hover {
    color: white !important;
    border-radius: 5px;
    padding: 5px 10px;
}

#booking a{
    color: white;
    background-color: #e67e22;
    margin: 5px;
    transition-duration: 0.4s;
    font-size: 16px;
}

/*#booking{*/
/*    width: 100vw;*/
/*    height: auto;*/
/*    background-image: url('../Assets/images/restaurant-hall-with-lots-table.jpg');*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    position: relative;*/
/*    color: white;*/
/*    text-align: center;*/
/*}*/

/*.booking-header{*/
/*    width: 100%;*/
/*    font-size: 40px;*/
/*}*/

/*#booking h1{*/
/*    font-size: 48px;*/
/*    font-family: "Oleo Script", system-ui;*/
/*    font-weight: 700;*/
/*    font-style: normal;*/
/*}*/

/*#booking p {*/
/*    font-size: 18px;*/
/*}*/

#booking-btn{
    border-radius: 30px 0px 0px 30px;
    transition-duration: 800ms;
}

#booking-btn:hover{
    background-color: #d35400;
    transform: translateY(-10px);
    border: 2px solid #e67e22;
}
#menu-btn{
    border-radius: 0px  30px 30px 0px;

}
#menu-btn:hover{
    background-color: #d35400;
    transform: translateY(-10px);
    border: 2px solid #e67e22;
}



#navbarContent ul li {
    color: black;
    font-size: 18px;
    text-align: center;
}

.custom-navbar a:hover{
    transform: scale(1.1);
}


hr{
    color: white;
}

.custom-form:focus{
    outline: none;
}

.custom-label{
    font-weight: bold;
}

.custom-button{
    border-radius: 15px;
}

.custom-image{
    width: 400px;
    max-width: 100%;
}

@media all and (min-width: 300px) and (max-width: 450px){
    #booking h1{
        font-size: 20px;
    }
    #booking p{
        font-size: 16px;
    }

    #booking a{
        font-size: 16px;
    }
}