

#home{
    width: 100vw;
    height: auto;
    background-image: url('../Assets/images/crilled-chicken-bread-piece-greens-pepper-sauce-spices-side-view.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    text-align: center;
}

.navbar-nav .nav-link {
    font-size: 18px;
    /*font-weight: 600;*/
}

.navbar-nav .nav-link:hover {
    color: white !important;
    border-radius: 5px;
    padding: 5px 10px;
}

#home a{
    color: white;
    background-color: #e67e22;
    margin: 5px;
    transition-duration: 0.4s;
}

#home p{
    font-size: 1.25rem;
}

#home h1{
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
}

#menu-btn{
    border-radius: 30px 0px 0px 30px;
    transition-duration: 800ms;
}

#menu-btn:hover{
    background-color: #d35400;
    transform: translateY(-10px);
    border: 2px solid #e67e22;
}
#service-btn{
    border-radius: 0px  30px 30px 0px;

}
#service-btn:hover{
    background-color: #d35400;
    transform: translateY(-10px);
    border: 2px solid #e67e22;
}

.slideshow-container {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 0;
    background-size: cover;
    background-position: center;
    animation: slideShow 24s infinite;
}

@keyframes slideShow {
    0%   { background-image: url('../Assets/images/crilled-chicken-bread-piece-greens-pepper-sauce-spices-side-view.jpg'); }
    33%  { background-image: url('../Assets/images/drinks-glasses-new-year-eve-celebration.jpg'); }
    66%  { background-image: url('../Assets/images/mixed-pizza-with-various-ingridients.jpg'); }
    100% { background-image: url('../Assets/images/img.png'); }
}

.animated-btn {
    background-color: #e67e22;
    color: white;
    padding: 12px 30px;

}

.animated-btn:hover {
    background-color: #d35400;

}

.custom-card{
    border-radius: 20px;
    transition-duration: 800ms;
}

.custom-card:hover {
    transform: scale(0.97);
    cursor: pointer;
}

.custom-img{
    border-radius: 30px;
}

.custom-btn{
    border-radius: 30px;
}

.custom-img{
    transition-duration:800ms;
}

.custom-img:hover{
    transform: scale(0.97);
}

.custom-btn{
    transition-duration:800ms;
    background: #d35400;
}

.custom-btn:hover{
    transform: scale(1.05);
}

@media all and (min-width: 300px) and (max-width: 430px) {
    #home h1{
        font-size: 25px;
        max-width: 1000px;
    }
    #home p{
        font-size: 15px;

    }

    #home a{
        font-size: 16px;
        width: 250px;
        height:auto;
    }

}
