*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    transition: transform 0.2s ease-in-out;
    margin: 10px;
}
.card:hover {
    transform: translateY(-2px);
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}

.navbar-nav .nav-link {
    font-size: 18px;
    /*font-weight: 600;*/
}

.navbar-nav .nav-link:hover {
    color: white !important;
    border-radius: 5px;
    padding: 5px 10px;
}

#home a{
    color: white;
    background-color: #e67e22;
    margin: 5px;
    transition-duration: 0.4s;
}

.show-all{
    transition-duration: 800ms;
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
}

.show-breakfast{
    transition-duration: 800ms;
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;

}
.lunch{
    transition-duration: 800ms;
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
}

.dinner{
    transition-duration: 800ms;
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
}

.show-all:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.show-breakfast:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.lunch:hover{
    cursor: pointer;
    transform: scale(1.1);

}

.dinner:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.comment-btn{
    text-align: center;
    border: 2px solid #d35400;
    background-color: #e67e22;
    border-radius: 25px;
    font-weight: bold;
    color: white;

}

.comment-btn:hover{
    background: linear-gradient(#d35400, #FFD43B , #ffd6ad);
    color: black;
}